<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkpoint Patrol</title>
  <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
  <style>
    body {
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
      background: #f7f7f7;
    }
    #reader {
      width: 320px;
      border: 2px solid #333;
      border-radius: 10px;
      background: #fff;
    }
    #result {
      margin-top: 20px;
      font-size: 18px;
      color: #333;
      background: #e3e3e3;
      padding: 10px 15px;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <h2>Kinenta Patrol</h2>
  <div id="reader"></div>
  <div id="result">Hasil scan akan muncul di sini...</div>
  <div>
    <input type="hidden" id="token_location">
    <input type="text" class="form-control" id="notes" placeholder="Catatan ....">
  </div>
  <div><button id="submit-data">Submit</button></div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script>
    const html5QrCode = new Html5Qrcode("reader");
    const resultElement = document.getElementById("result");

    Html5Qrcode.getCameras().then(devices => {
      if (devices && devices.length) {
        const cameraId = devices[0].id; // gunakan kamera pertama
        html5QrCode.start(
          cameraId,
          { fps: 10, qrbox: 250 },
          qrMessage => {
            resultElement.innerText = "✅ QR Terdeteksi: " + qrMessage;
            $('#token_location').val(qrMessage);
            html5QrCode.stop(); // berhenti setelah berhasil scan
          },
          err => { /* abaikan error scan kecil */ }
        );
      } else {
        resultElement.innerText = "Tidak ada kamera yang terdeteksi.";
      }
    }).catch(err => {
      resultElement.innerText = "Tidak bisa mengakses kamera: " + err;
    });

    $('#submit-data').click(function(){
      const token_location = $('#token_location').val();
      const notes = $('#notes').val();
      fetch("http://localhost:5050/patrol/check", {
        method: "POST",
        headers: { 
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
          'Content-Type': "application/json" 
        },
        body: JSON.stringify({ token_location: token_location, notes: notes,file_images:"" })
      })
      .then(response => response.json())
      .then(data => {
        alert('Data berhasil disubmit');
      })
      .catch(error => {
        console.error('Error:', error);
      });
    });
  </script>
</body>
</html>
