<div style="width: 164px; height: 67px; border: solid 1px #BDC4CA; border-radius: 5px; color: #FFFFFF;">
    <div style="display: flex;justify-content: center; align-items:center; font-size:14px;width: 164px; height: 25px;background-color: #018FDA; border-radius: 5px 5px 0 0;"><%= cardTitle %></div>
    <div style="display: flex;justify-content: center; align-items:center;color: #BDC4CA; height: 42px; font-size: 13px;"><i class="fa-solid fa-calendar"></i>&nbsp;<%= date %></div>
</div>