<span style="font-size:20px;font-weight:600;">
    <%= title %>
</span>
<div style="margin-top: 19px;">
    <div style="display: flex; gap: 10px;">
        <div>
            <%- include('card-date', { cardTitle: 'From', date:'Choose Date' }) %>
        </div>
        <div>
            <%- include('card-date', { cardTitle: 'To', date:'Choose Date' }) %>
        </div>
    </div>
</div>