<header class="topbar">
    <button id="menuBtn" class="menu-btn">☰</button>
    <img src="../assets/iconSidebar.png" style="height: 18px;" />
    <i class="fa-solid fa-arrow-right-from-bracket logout-btn" style="cursor: pointer;margin-left: auto;margin-right: 15px;"></i>
</header>