<div id="sidebar" class="sidebar">
    <div id="titleSidebar" style="align-items: center; height:58px;background: linear-gradient(180deg,rgba(3, 52, 129, 0.78) 0%,rgba(0, 0, 0, 0) 100%); 
        background-color: #0193E0;color: white; font-size: 20px; font-weight: 400; padding-left: 10px; gap: 10px;"
        class="menu-header">
        <img src="../assets/iconBulat.png" style="height: 30px;" />
        <span>Menu</span>
    </div>
    <ul id="menuList">
    </ul>
</div>