<a href="<%= linkUrl %>" id="<%= linkId %>" class="<%= linkClass %>" style="display:none;">
    <button style="width:164px;background-color: green;color: #FFFFFF;border-radius: 5px;border: solid 1px #FFFFFF;padding: 5px;">
        <%= name %>
    </button>
</a>

<script>
    const pathNow = window.location.pathname;
    const insertCheck = JSON.parse(localStorage.getItem('menus'));

    insertCheck.forEach(menu => {
        if (pathNow === menu.menu_path) {

            console.log(menu.menu_id);
            console.log(menu.menu_path);
            console.log(menu.menu_permission);

            // menu_permission harus array!
            if (menu.menu_permission.includes("create")) {

                console.log("Access Created Granted");

                // tampilkan tombol
                document.getElementById("createButton").style.display = "inline-block";

            } else {
                console.log("Not Access");
            }
        }
    });
</script>